
header {
    background-image: linear-gradient(to left, rgba(61, 61, 54, 0) 40%, rgb(255, 255, 255) 70%), url('./images/zt6wJNVyMScfHq4AFbSZV.jpg');
}
header h1 {
    font-size: 6rem;
}

section h2 {
    font-size: 40px;
}
.vert article {
    display: flex;
    flex-direction: column;
}
.side img {
    width: 50%;
}
/*DARK MODE*/
.dark-mode header {
    background-image: linear-gradient(to left, rgba(40, 40, 40, 0) 40%, #1a1a1a 70%), url('./images/zt6wJNVyMScfHq4AFbSZV.jpg')
}

  