* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    transition: 0.3s;
}
#top {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    transition:.4s;
}
#top.scrolled {
    font-size: 16px;
    padding: 5px 40px;
}
nav a {
    color: black;
    text-decoration: none;
}
nav li a:hover {
    color: black;
    border-bottom: 2px solid black;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width:100%;
}
nav div {
    display: flex;
    justify-content: center;
}
nav div button, nav li button {
    cursor: pointer;
    background-color: white;
}
#top img,
#top div {
  flex: 0 0 15%;
}
header {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(61, 61, 54, 0) 40%, rgb(255, 255, 255) 70%), url('https://images-prod.dazeddigital.com/1371/azure/dazed-prod/1310/8/1318943.jpg');
    background-repeat: no-repeat;
    background-position: right;
    transition: 0.3s;
}
header h1 {
    font-size: 80px;
    font-weight:bold;
    width: 50%;
    padding: 100px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
main h1 {
    margin-top: 8vh;
    margin-bottom: 6vh;
    font-weight: bold;
    font-size: 40px;
}

section h2 {
    font-weight: normal;
    font-size: 28px;
}
section p {
    font-size: 20px;
    font-weight: lighter;
}
section {
    margin-bottom: 10vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
}

section img{
    max-width: 100%
}
figure {
    width: 100%;
}
article {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer {
    background-color: rgba(0, 0, 0, 0.875);
    padding: 40px;
}
footer ul a {
    color: white;
}
footer ul a:hover{
    color: rgb(175, 168, 168);
}
/*DARK MODE*/
.dark-mode#body {
    transition: 0.3s;
    color: white;
    background-color: #1a1a1a;
}
.dark-mode header {
    transition: 0.3s;
    background-image: linear-gradient(to left, rgba(40, 40, 40, 0) 40%, #1a1a1a 70%), url('https://images-prod.dazeddigital.com/1371/azure/dazed-prod/1310/8/1318943.jpg')
}